/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 

   CSS Guide 

   1.  General Styles
   2.  Main Nav
   3.  Footer 

   A. Homepage
   1.  Main Hero Image
   2.  Main Hero Image Contact
   3.  Why Couples Resort
   4.  About & FAQ
   5.  Contact Form

   B. Spa Mobile
   1. Main Hero Image
   2. Preparations
   3. Packages
   4. Products

   C. Spa Desktop
   1. Main Nav
   2. Main Hero Image
   3. Preparations
   4. Packages
   5. Products
   6. Footer

   D. Activities
   1. Main Hero Image
   2. Main Activities
   3. Algonquin Park
   4. Galeairy Lake

   E. Packages
   1. Package Information
   2. Policies
   3. Packages

 */


 /* 1. ---General Styles--- */

 #mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

body {
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
   margin: 0px;
   padding: 0px;
}

a {
   text-decoration: none;
}

h3 {
   padding: 5px;
   padding-left: 15px;
   font-size: 21px;
}

span {
   font-size: 14px;
   color: #9a2018;
}

#mob p {
   font-size: 14px;
   margin-bottom: 20px;
}

.mob-footnote {
   font-size: 10px;
   font-style: italic;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.mob-heading-box {
   background-color: white;
   align-self: last baseline;
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

.cr-red {
   color: #9a2018;
}

/* 2. ---Main Nav--- */

#main-nav label img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   margin-bottom: 20px;
   transition: all 0.5s ease-out;
   cursor: pointer;
}

#main-nav input, #burger-con {
   display:none;
}

#main-nav input:checked ~ label img {
   transform: rotate(90deg);
}

#main-nav input:checked ~ #burger-con {
   display:block;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a, #main-nav ul li summary {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
}

#main-nav ul li a:hover, #main-nav ul li summary:hover {
   cursor: pointer;
   color: #9a2018;
}

#main-nav ul li details a {
   font-size: 12px;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 40px;
}

#logo {
   margin-bottom: 20px;
   max-width: 382px;
}

/* 3. ---Footer--- */

#footer-hero {
   background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
   padding: 0;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

/* A. ------Homepage------ */
/* 1. ---Main Hero Image--- */

#hero {
   background: url(../images/hero-main.jpg) no-repeat;
   height: 200px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   cursor: pointer;
}

.book-now:hover {
   background-color: rgb(196, 28, 28);
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box {
   align-self: end;
}

.hero-img-h2, .hero-img-h3 {
   background: #ffffff;
   padding: 10px 15px;
   font-size: 14px;
}

.hero-img-h2 span,  .hero-img-h3 span {
   color: #9a2018;
   font-size: 12px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 2. ---Main Hero Image Contact--- */

.fas {
   font-size: 42px;
   color: #9a2018;
   margin: 0 auto;
   float: left;
}

.fa-mobile-alt {
   margin-right: 10px;
   margin-left: 3px;
   margin-bottom: 20px;
}

.fa-map-marker-alt {
   margin-right: 10px;
}

#contact {
   font-size: 11px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
}

/* 3. ---Why Choose Us--- */


 #why-choose-us-nav {
   padding-top: 20px;
}

#why-choose-us-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#why-choose-us-nav ul li {
   margin-bottom: 15px;
}

#why-choose-us-nav ul li a {
  color: inherit;
  padding: 5px;
}

#why-choose-us-nav ul li a.selected {
   border-left: #9a2018 solid 5px;
 }

#why-choose-us-hero-con {
  background: url(../images/why-choose-us-hero.jpg) no-repeat;
  height: 195px;
}

#why-choose-us-heading-box {
   align-self: end;
}

.why-choose-us-image {
   float: left;
   margin-right: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con h2 {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con p {
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 20px;
}

.why-choose-us-image-con a {
   color: #707070;
   font-size: 12px;
}

 #why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
}


/* 4. ---About & FAQ--- */

#about-hero-con {
   background: url(../images/about-us-hero.jpg) no-repeat;
   height: 195px;
}

#about-hero-heading-box {
   align-self: end;
}

#about-us-text {
   padding-bottom: 60px;
}

#about-us-text p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

#about-us-text-column2 {
   font-style: italic;
}

#faq-con {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
}

#faq-con h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

#faq-con h2 span {
   color: #9a2018;
   font-size: 16px;
}

.faq-items {
   margin-bottom: 16px;
}

.faq-items h3 {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.faq-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.faq-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   

.faq-items a {
   color: inherit;
   font-size: 13px;
}

#faq-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}

/* 5. ---Contact--- */

#contact-hero-con {
   background: url(../images/contact-hero.jpg);
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

#contact-hero-form form {
   display:flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form input[type=submit] {
   padding: 12px 28px;
   background-color: #9a2018;
   color: white;
   border: none;
   align-self: flex-end;
}

/* B. Spa Mobile */
/* 1. Main Hero Image */

#spa-main-hero {
   background-image: url(../images/mob_spa_hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#spa-hero-info p {
   padding-top: 5px;
}

/* 2. Preparations */

#spa-sect1-hero {
   margin-top: 30px;
   background-image: url(../images/mob_spa_sect1-hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#spa-sect1-info p {
   margin-top: 5px;
}

/* 3. Packages */

#spa-sect2-hero {
   margin-top: 30px;
   background-image: url(../images/mob_spa_sect2-hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#spa-sect2-info p {
   padding-top: 5px;
}

#mob-packages {
   margin-top: 25px;
}

.mob-package-option {
   text-align: center;
   margin-bottom: 30px;
}

#spa-packages-sauna {
   margin-top: 10px;
   background-image: url(../images/mob_spa_wheel1.jpeg);
   background-repeat: no-repeat;
}

#spa-sauna-info {
   margin-top: 240px;
}

/* 4. Products */

#spa-sect3-hero {
   margin-top: 30px;
   background-image: url(../images/mob_spa_sect3-hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#spa-sect3-info p {
   padding-top: 5px;
   margin-bottom: 30px;
}

/* C. Spa Desktop */
/* 1. General Styles */

#desk span {
   font-size: 14px;
}

#desk h3 {
   padding: 10px;
   padding-left: 25px;
   font-size: 24px;
}

#desk ul {
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}

#desk ul li a, #desk ul li summary {
   display: block;
   padding: 10px 45px 10px 0;
   color: #626262;
}

#desk ul li a:hover, #desk ul li summary:hover {
   cursor: pointer;
   color: #9a2018;
}

#desk ul li details a {
   font-size: 10px;
   padding: 10px 0;
   border-bottom: solid 1px #CF6666;
}

.desk-small-par {
   font-size: 16px;
}

.desk-large-par {
   font-size: 20px;
}

.desk-footnote {
   font-size: 10px;
   font-style: italic;
}

.desk-heading-box {
   background-color: white;
   align-self: last baseline;
}

/* 1. --Main Header-- */

#desk-main-header {
   align-items: center;
}

#desk-main-nav-logo {
   border-right: grey solid 3px;
   padding-right: 50px
}

#desk-main-header-booknow {
   text-align: center;
   align-items: center;
   font-size: 24px;
   font-style: italic;
   color:white;
   background-color: #9a2018;
   padding: 35px 10px;
}

/* 2. --Main Hero-- */

#desk-main-hero {
   background-image: url(../images/desk_spa_hero.jpeg);
   background-repeat: no-repeat;
   height: 450px;
}

#desk-hero-info {
   padding-top: 45px;
}

#desk-hero-info p {
   margin-bottom: 20px;
}

/* 3. Preparations */

#desk-sect1-hero {
   background-image: url(../images/desk_spa_sect1-hero.jpeg);
   background-repeat: no-repeat;
   height: 450px;
   width: 1200px;
   margin-top: 15px;
}

#desk-sect1-info {
   padding-top: 45px;
}

#desk-sect1-info p {
   margin-bottom: 30px;
   padding: 0px 10px 0px 10px;
}

/* 4. Packages */

#desk-sect2-hero {
   background-image: url(../images/desk_spa_sect2-hero.jpeg);
   background-repeat: no-repeat;
   height: 450px;
   margin-top: 15px;
}

#desk-sect2-info {
   padding-top: 45px;
}

#desk-sect2-info p {
   margin-bottom: 30px;
}

#desk-packages {
   padding-top: 35px;
}

.desk-package-option {
   text-align: center;
   margin-bottom: 50px;
   font-size: 24px;
}

#desk-sauna-info {
   margin-top: 55px;
}

/* 5. Products */

#desk-sect3-hero {
   background-image: url(../images/desk_spa_sect3-hero.jpeg);
   background-repeat: no-repeat;
   height: 450px;
   margin-top: 65px;
}

#desk-sect3-info {
   padding-top: 40px;
}

#desk-products-badges {
   display: flex;
   justify-content: space-evenly;
   margin-top: 65px;
}

/* 6. Footer */

#desk-footer {
   background-image: url(../images/desk_footer.jpg);
   background-repeat: no-repeat;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   height: 450px;
   margin-top: 50px;
}

#desk-footer-top {
   display: flex;
}

#desk-footer-info {
   align-self: last baseline;
}

#desk-footer-nav {
   align-self: last center;
}

#desk-footer-nav ul li a, #desk-footer-nav ul li summary {
   color: white;
}

#desk-footer-info h3 {
   font-weight: normal;
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 0px;
}

#desk-footer-info p {
   font-size: 12px;
   line-height: 25px;
}

#desk-footer-nav {
   display: flex;
   height: 105px;
}

#desk-footer-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#desk-footer-nav li a {
   display: block;
   padding: 10px 0;
   color: #ffffff;
   text-decoration: none;
}

#desk-footer-links {
   display: flex;
}

#desk-footer-links div {
   margin-right: 20px;
}

#desk-footer-book-now {
   align-self: last center;
   text-align: center;
   font-size: 24px;
   font-style: italic;
   background-color: #9a2018;
   padding: 40px 10px;
   border-radius: 5px;
   margin-bottom: 50px;
}

#desk-footer-legal p {
   padding-top: 60px;
   font-size: 10px;
   text-align: center;
}

/* D. Activities */
/* 1. Main Hero */

#act-main-hero {
   background-image: url(../images/mob_act_hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#act-hero-info p {
   padding-top: 10px;
}

.act-activity-box summary {
   background-color: #e2e2e2;
   padding: 10px;
   font-size: 21px;
}

.act-activity-menu {
   margin-top: 20px;
}

.act-activity-menu h3 {
   font-size: 20px;
   font-weight: bolder;
   padding: 0;
   margin-bottom: 10px;
}

.learn-more {
   color: white;
   background-color: #CF6666;
   padding: 10px;
   border-radius: 10px;
   font-style: italic;
   width: 100px;
   align-self: center;
}

.act-activity-box img {
   margin: auto;
}

#act-sect1-hero {
   margin-top: 30px;
   background-image: url(../images/mob_act_sect-1_hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#act-sect1-info p {
   padding-top: 10px;
}

#act-museum-info {
   margin-top: 40px;
}

#act-museum-info p {
   margin-top: 35px;
}

#act-sect2-hero {
   margin-top: 25px;
   background-image: url(../images/mob_act_sect-2_hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#act-sect2-info p {
   padding-top: 10px;
}

/* E. Packages */
/* 1. Package Information */

#pack-main-hero {
   background-image: url(../images/mob_pack_hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#pack-hero-title {
   background-image: url(../images/mob_pack_mold.jpeg);
   background-repeat: no-repeat;
   height: 225px;
}

#pack-hero-info {
   margin-top: 30px;
}

#pack-hero-title h2 {
   font-size: 20px;
   font-weight: bolder;
}

#pack-sect1-hero {
   margin-top: 20px;
   background-image: url(../images/mob_pack_sect1-hero.jpeg);
   background-repeat: no-repeat;
   height: 210px;
}

#pack-sect1-info {
   font-size: 10px;
}

#pack-packages-return {
   text-align: center;
   color: white;
   background-color: #9a2018;
   padding: 20px;
   border-radius: 10px;
   font-style: italic;
   margin-bottom: 10px;
}

#pack-packages-return p {
   margin: auto;
   font-size: 15px;
}
